@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.navbar-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.navbar-item-social {
  display: flex;
  gap: 10px;
}

.navbar-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}

.navbar-link-social {
  text-decoration: none;
}

.header-phone-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
}

.header-seporator {
  margin: 0;
  background-color: #ecf3ff;
}

.navbar-bottom-wrapper {
  margin-top: 20px;
  display: flex;
  margin-bottom: 34px;
}

.logo-link {
  text-decoration: none;
}

.navbar-btn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  width: 10px;
  height: 10px;
}

.navbar-button {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 8px 18px 9px 15px;
  margin-left: 35px;
  background: #6f73ee;
  border: 1.5px solid #6f73ee;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  height: 40px;
}

.navbar-btn-line {
  background-color: #ffffff;
  height: 1px;
  width: 100%;
}

.navbar-btn-line:nth-child(3) {
  width: 7px;
}

.search {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #6f73ee;
  border-radius: 5px;
  max-height: 40px;
  min-width: 603px;
}

.search-line {
  padding: 10px 5px 10px 20px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  width: 94%;
  border: none;
  min-height: 100%;
  box-sizing: border-box;
}

.search-line:hover {
  border-color: none;
}

.search-line:hover .search {
  border-color: yellow;
}

.search-icon-btn {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 100%;
  background: #6f73ee;
}

.navbar-bottom-icons {
  display: flex;
  align-items: center;
  margin-left: 47px;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
  gap: 10px;
}

.navbar-icons {
  display: flex;
  gap: 25px;
}

.container-image {
  max-width: 1380px;
  margin: auto;
}

.no-webp .section-image-wrapper {
  background-image: url("../img/scooter.png");
}

.section-image-wrapper {
  background-image: url("../img/scooter.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  border-radius: 10px;
}

.section-image-wrapper::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    73.21deg,
    #6f73ee 17.37%,
    rgba(111, 115, 238, 0) 67.02%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px;
}

.section-image-content {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  z-index: 4;
}

.section-image-location {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

.location-text {
  margin: 0;
}

.section-image-title {
  margin-top: 19px;
  margin-bottom: 0;
  max-width: 612px;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffffff;
}

.section-image-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 7px;
}

.section-image-box {
  display: flex;
  gap: 38px;
  margin-bottom: 38px;
}

.section-image-item {
  display: flex;
  gap: 15px;
}

.section-image-item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.section-image-item-text {
  margin-top: 6px;
  max-width: 149px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.image-button {
  padding: 15px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #6f73ee;
  background: #ffffff;
  border: 1.3px solid #ffffff;
  border-radius: 5px;
}

.section-model {
  margin-top: 72px;
}

.section-model-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}

.section-model-inner {
  margin-left: 135px;
}

.section-model-content {
  margin-top: 28px;
  max-width: 645px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
}

.section-model-title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-model-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #282739;
  margin-top: 30px;
  margin-bottom: 18px;
}

.section-model-list {
  list-style: none;
  padding-left: 0;
}

.section-model-image {
  border-radius: 10px;
}

.section-model-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.section-education {
  margin-top: 98px;
}

.section-education-wrapper {
  display: flex;
  gap: 95px;
}

.section-education-image {
  border-radius: 10px;
}

.section-education-inner {
  margin-top: 28px;
}

.section-education-title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 584px;
}

.section-education-text {
  margin-top: 30px;
  margin-bottom: 18px;
  font-size: 21px;
}

.section-education-list {
  list-style: none;
  padding-left: 0;
}

.section-education-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.section-test {
  margin-top: 90px;
}

.test-cards-wrapper {
  display: flex;
  gap: 30px;
}

.test-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.test-card {
  min-width: 255px;
  border: 1.5px solid #eaebed;
  border-radius: 10px;
}

.test-card-top {
  position: relative;
  background-color: #f0f1f5;
  padding: 27px 0px 22px 0px;
  border-radius: 8px 8px 0px 0px;
}

.card-image {
  width: 100%;
}

.card-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

.card-badge-red {
  background-color: #ee685f;
}

.card-badge-green {
  background-color: #75d14a;
}

.card-top-icon {
  border-radius: 50%;
  padding: 8px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2.5px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.test-card-bottom {
  padding: 20px 25px;
}

.card-bottom-text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
}

.card-bottom-list {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 0;
  columns: 2;
  gap: 30px;
  list-style: none;
}

.card-bottom-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 17px;
  min-width: 110px;
}

.card-bottom-buy {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.price-title {
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #5d6c7b;
  margin-top: 0;
  margin-bottom: 0;
}

.price-title-sale {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #282739;
  margin-top: 0;
  margin-bottom: 0;
}

.card-bottom-icon {
  display: flex;
  gap: 10px;
}

.bottom-icon-box {
  border: 1.3px solid #eaebed;
  border-radius: 50%;
  padding: 11px 10px 5px 10px;
}

.card-button {
  padding: 10px 20px;
  background: #6f73ee;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  width: 100%;
}

.section-feedback {
  margin-top: 100px;
}

.section-feedback-bg {
  background: #f4f7fb;
  border-radius: 10px;
}

.section-feedback-wrapper {
  position: relative;
  padding-top: 88px;
  padding-bottom: 78px;
}

.feedback-image {
  position: absolute;
  bottom: 0;
  right: 46px;
}

.feedback-form {
  max-width: 613px;
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 0;
}

.feedback-text {
  margin-top: 30px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
}

.input-group-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-email {
  min-width: 410px;
}

.input-group {
  position: relative;
  height: 53px;
  background-color: #ffffff;
}

.input {
  border: 1px solid #eaebed;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: inherit;
  font-size: 16px;
}

.input-phone {
  min-width: 263px;
}

.input-phone::-webkit-input-placeholder {
  margin-left: 25px;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.155em;
  color: #5d6c7b;
}

.feedback-form-button {
  min-width: 258px;
  padding: 15px 25px;
  border: none;
  background: #6f73ee;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.notify {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: start;
}

.notify-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #282739;
  margin: 0;
  max-width: 350px;
}

.footer {
  margin-top: 100px;
}

.footer-top {
  padding-top: 24px;
  padding-bottom: 21px;
  background: #6f73ee;
}

.footer-top-wrapper {
  display: flex;
  align-items: center;
  gap: 95px;
}

.footer-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 445px;
}

.input-group {
  min-width: 263px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
}

.input-email {
  color: #ffffff;
}

.input-email::-webkit-input-placeholder {
  color: #ffffff;
}

.footer-form-button {
  padding: 15px 25px;
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #6f73ee;
  border: none;
}

.footer-bottom {
  padding-top: 46px;
  background: #f4f7fb;
}

.footer-menu-title-bottom {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-menu-wrapper:nth-child(2) {
  margin-left: 54px;
}

.footer-info-wrapper {
  margin-left: 30px;
}

.footer-menu-list {
  margin-top: 17px;
}

.footer-menu-column-2 {
  gap: 44px;
  min-width: 254px;
  columns: 2;
}

.footer-menu-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer-menu-item {
  margin-bottom: 10px;
}

.footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5d6c7b;
}

.footer-info-title {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
}

.footer-text {
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
}

.footer-info-inner {
  margin-top: 4px;
  display: flex;
  gap: 30px;
}

.footer-info {
  min-width: 150px;
}

.footer-phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
  text-decoration: none;
}

.footer-text-visit {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}

.footer-info-top {
  display: flex;
  justify-content: space-between;
}

.footer-info-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f73ee;
}

.footer-seporator {
  background-color: #5d6c7b;
}

.logo-link-footer {
  margin-right: 50px;
}

.footer-bottom-application {
  padding-top: 26px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.apps-left {
  display: flex;
  gap: 10px;
}

.apps-right {
  display: flex;
  gap: 10px;
}

.box {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 13px;
  width: 123px;
  height: 45px;
}

.box-title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}

.box-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5d6c7b;
  margin: 0;
}

.footer-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-legal {
  display: flex;
  gap: 44px;
  align-items: center;
}

.props-link,
.footer-policy {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}

.footer-content-right {
  display: flex;
  gap: 40px;
}

.pay-sistem {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pay-sistem-card {
  width: 34px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 0.486818px solid #eaebed;
  border-radius: 2.92091px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
  margin: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
